@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; /* 10px = 1rem */
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayis-blue: hsl(227, 4%, 53%);
  --very-light-gray: hsl(0, 0%, 98%);
  --offset-shadow: rgba(149, 157, 165, 0.2) 0 0.8rem 2.4rem;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  color: var(--very-dark-blue);
  background-color: var(--very-light-gray);
}

header,
main {
  max-width: 35rem;
  margin: 0 3.1rem;
}

main {
  margin-bottom: 8rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 8.7rem 0 8rem;
}

.card {
  background-color: white;
  border-radius: 0.8rem;
  padding: 2.8rem;
  display: flex;
  flex-direction: column;
}

.card + .card {
  margin-top: 2.3rem;
}

p {
  color: var(--grayis-blue);
  line-height: 2.5rem;
}

.card p {
  margin: 1rem 0 2.5rem;
  font-size: 1.3rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: 200;
}

h2 {
  font-size: 2.4rem;
  padding-bottom: 1.3rem;
}

header p {
  width: 85%;
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
}

.card img {
  width: 5.3rem;
  align-self: flex-end;
}

.supervisor {
  box-shadow: inset 0 2.35rem 0.1rem -2rem var(--cyan), var(--offset-shadow);
}

.team-builder {
  box-shadow: inset 0 2.35rem 0.1rem -2rem var(--red), var(--offset-shadow);
}

.karma {
  box-shadow: inset 0 2.35rem 0.1rem -2rem var(--orange), var(--offset-shadow);
}

.calculator {
  box-shadow: inset 0 2.35rem 0.1rem -2rem var(--blue), var(--offset-shadow);
}
